@media only screen and (min-width:0px) and (max-width:768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .minhas-skils {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width:300px;
    }




    .redes {
        display:inline-block;
        margin:20px 0px 0px 20px;
    }

    .redes img {
        width:100%;
        max-width:30px;
    }

    h2 {
        text-align: center;
    }

    .projetos {
        margin: auto;
        width:300px;
    }

    .contato {
        margin-right:10px;
        width:100%;
        max-width:300px;
    }

    input {
        width:300px;
        height:30px;
    }

    #assunto {
        width:300px;
        height:40px;
    }

    textarea {
        border-radius: 10px;
        outline: 0;
        width:100%;
        max-width:300px;
    }

    .telegram img {
        width:100%;
        max-width:40px;
    }

    .box h1 {
        font-size:20px;
    }

    .box h3 {
        font-size:10px;
    }

    .texto-sobre {
        margin-left:25px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .minhas-skils {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width:500px;
    }

    .redes {
        display:inline-block;
        margin:20px 0px 0px 20px;
    }

    .redes img {
        width:100%;
        max-width:30px;
    }

    h2 {
        text-align: center;
    }

    .projetos {
        margin: auto;
        width:400px;
    }

    .contato {
        margin-right:10px;
        width:100%;
        max-width:500px;
        margin-right:90px;
    }

    input {
        width:500px;
        height:30px;
    }

    #assunto {
        width:500px;
        height:40px;
    }

    textarea {
        border-radius: 10px;
        outline: 0;
        width:100%;
        max-width:500px;
    }

    .telegram img {
        width:100%;
        max-width:40px;
    }

    .box h1 {
        font-size:30px;
    }

    .box h3 {
        font-size:10px;
    }

    .texto-sobre {
        margin-left:25px;
    }
}