@media only screen and (min-width:0px) and (max-width:768px) {
    .container {
        display: flex;
        justify-content: center;
        
    }

    .minhas-skils {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    .projetos {
        margin: auto;
    }

    .contato {
        margin-right:40px;
    }

    .telegram img {
        width:100%;
        max-width:40px;
    }
}